{
  "parser": "babel-eslint",
  "extends": ["xo/esnext"],
  "env": {
    "jest": true
  },
  "rules": {
    "capitalized-comments": 0,
    "function-paren-newline": [2, "consistent"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "new-cap": [2, {"capIsNew": false}],
    "no-await-in-loop": 0,
    "no-constant-condition": [2, {"checkLoops": false}],
    "no-mixed-operators": 0,
    "no-negated-condition": 0,
    "no-return-await": 0,
    "no-unused-vars": [2, {"ignoreRestSiblings": true, "argsIgnorePattern": "^_"}],
    "no-warning-comments": 0
  }
}
